<div class="product-item">
    <div class="pi-pic pb-3">

        <a href="{{ product.url }}">
            <img src="{{ product.featured_media | img_url: 'master' }}"
                 alt="{{ product.featured_media.alt | escape }}"
                 loading="lazy"
                 style="height: 350px;min-height: 350px;min-width: 165px; object-fit: cover;"
            >
        </a>
        <div class="pi-links">
            <a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
            <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
        </div>
    </div>
    <a href="{{ product.url }}" class="pi-text mt-1">
        <h6>{{ product.price | money }}</h6>
        <p>{{ product.title | truncate:100 }} </p>
    </a>
</div>
